* {
  margin: 0;
  padding: 0;
}

.gallery {
  margin: 10px 50px;
}

.gallery div {
  float: left;
}

.gallery img {
  transition: 1s;
  padding: 15px;
  width: 600px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
